body {
	font-family: sans-serif;
	font-size: 11pt;
	padding:0; margin:0;
	width:100%;
}
th.sort { /* these are the sortable headers */
	text-decoration: underline;
}
table {
	border-collapse: collapse;
	table-layout: fixed;
}
table th, table td {
	padding: .5em;
}
table th {
	background-color: orange;
}
.sticky {
	position: absolute;
	top:0; left:0;
}
.search-wrapper {
	/* width, padding, and box-sizing cushion the text input */
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	margin-bottom: .5em;
}
.search-help {
	font-style: italic;
	font-size: .8em;
}
input.search {
	font-size: 1.2em;
	padding: .25em;
	margin:.5em 0 .25em;
	width: 100%;
	box-sizing: border-box;
}